include functions
doctype html
html(lang= lang)
	include head
	body
		div.htmlContent
			menu
				name
					a(href="#{ base }") Daniele
				surname
					a(href="#{ base }") Pelagatti

				nav.socialMenu
					//- a.fontawesome-envelope-alt(title="Send Email" href="http://www.github.com" target="_blank")
					a.fontawesome-info-sign.website-info-button(title="About this site" href="#about" )
					a.fontawesome-google-plus-sign(title="Contact on Google+" href="https://plus.google.com/+DanielePelagatti" target="_blank")
					a.fontawesome-twitter-sign(title="Follow on Twitter" href="https://twitter.com/redde81" target="_blank")
					a.fontawesome-github-sign(title="See GitHub Projects" href="https://github.com/redde81" target="_blank")
					a.fontawesome-linkedin-sign(title="Contact on Linkedin" href="http://lnkd.in/BkMX7G" target="_blank")
				
				header Languages
				nav.languagesMenu
					each val in languages
						li
							if val.meta.lang == "en"
								a.selected(href=getRelativeLink(val) id=val.meta.lang permalink=val.link) English
							if val.meta.lang == "it"
								a(href=getRelativeLink(val) id=val.meta.lang permalink=val.link) Italiano
				header Projects
				nav.projectsMenu
					each val in links
						li
							if val.link == link
								a.selected(href=getRelativeLink(val) permalink=val.link)=val.meta.title
							else
								a(href=getRelativeLink(val) permalink=val.link)=val.meta.title
			main
				if banner != null || banner != undefined
					img.banner(src="#{base}#{banner}")
				article!=extractVars(content)
				div#no-webgl-warning 
					h4 WARNING: You are running a simplified version of this site. 
					p
						| In order to view the full version, please use a 
						a(href="http://www.google.com/chrome/") browser with WebGL support 
						| and 
						a(href="http://helpx.adobe.com/creative-suite/kb/update-graphics-driver-windows-7.html") update your graphics card drivers 
						| to the latest version.
				a(href="#no-webgl-warning").fontawesome-warning-sign.no-webgl-warning-button
		div.javascriptContent

		div.fontawesome-remove.close-page
		div.fontawesome-reorder.show-menu

		div#about
			h1 About This site
			p 
				| This site was built thanks to: 
				a(href="http://nodejs.org/") Node.js
				|, 
				a(href="http://compass-style.org/") Compass
				|, 
				a(href="http://jade-lang.com/") Jade
				|, 
				a(href="http://coffeescript.org/") CoffeeScript
				|, 
				a(href="http://threejs.org/") Three.js
				|, 
				a(href="http://jquery.com/") jQuery
				|, 
				a(href="http://underscorejs.org/") underscore.js
				|, 
				a(href="http://www.greensock.com/tweenmax/") TweenMax.js
				|, 
				a(href="http://fgnass.github.io/spin.js/") spin.js
				|, 
				a(href="http://gruntjs.com/") Grunt.js
				|, 
				a(href="http://driven-by-data.net/about/chromajs/#/0") Chroma.js
				|, 
				a(href="http://tools.medialab.sciences-po.fr/iwanthue/index.php") iWantHue
				|, 
				a(href="https://www.google.com/fonts") Google Fonts
				|, 
				a(href="http://weloveiconfonts.com/") WE LOVE ICON FONTS
			p Source code available on 
				a(href="https://github.com/redde81/danielepelagatti.com") GitHub
			a.modal_close(href="#") Close
include tail