head
	title Daniele Pelagatti - #{title}
	meta(charset="utf-8")
	meta(property="article:author" content="http://www.danielepelagatti.com")
	meta(name="description" content=description)
	meta(name="keywords" content=tags)
	meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
	meta(name="msapplication-TileColor" content="#FFFFFF")
	meta(name="msapplication-square150x150logo" content="#{base}img/tile.jpg")
	//- OpenGraph tags
	meta(property="og:title" content="Daniele Pelagatti - #{title}")
	meta(property="og:site_name" content="Daniele Pelagatti's Portfolio")
	meta(property="og:type" content="article")
	meta(property="og:description" content=description)
	//- CSS FILES
	script(src="#{base}js/modernizr.js")
	link(rel="stylesheet" href="#{base}css/main.min.css")

	//- prefetch , prerender and fli ahead support (IE11 Stuff) 
	- if(links) {
	-	var found = false
	- 	for( var i = 0; i< links.length;i++) {
	-		var val = links[i]
	-		if(val.link == link) {
	-			var next_link = null
	-			if(i < links.length-1) next_link = links[i+1]
	-			else next_link = links[i-1]
				link(rel="prefetch" href=getRelativeLink(next_link))
				link(rel="prerender" href=getRelativeLink(next_link))
	-			found = true;
	-			if(i > 0)
					link(rel="prev" href=getRelativeLink(links[i-1]))
	-			if(i < links.length-1)
					link(rel="next" href=getRelativeLink(links[i+1]))
	-			break
	-		}
	- 	}
	- 	if(!found && links.length > 0) {
			link(rel="prefetch" href=getRelativeLink(links[1]))
			link(rel="prerender" href=getRelativeLink(links[1]))
			link(rel="next" href=getRelativeLink(links[1]))
	-	}
	- }

	//- show warnign for old browsers
	script(type="text/javascript"). 
		var $buoop = {}; 
		$buoop.ol = window.onload; 
		window.onload=function(){ 
			try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
			var e = document.createElement("script"); 
			e.setAttribute("type", "text/javascript"); 
			e.setAttribute("src", "//browser-update.org/update.js"); 
			document.body.appendChild(e); 
		} 

	
	//- redirect IE6, page is completely broken
	//- ( plus I don't want to be contacted by anyone who uses this )
	<!--[if lt IE 7]>
	SCRIPT(LANGUAGE="javascript").
		location.href="http://browser-update.org/update.html";
	<![endif]-->

