head
	title Daniele Pelagatti - #{title}
	meta(charset="utf-8")
	meta(property="article:author" content="http://www.danielepelagatti.com")
	meta(name="description" content=description)
	meta(name="keywords" content=tags)
	meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
	meta(name="msapplication-TileColor" content="#FFFFFF")
	meta(name="msapplication-square150x150logo" content="#{base}img/tile.jpg")
	//- OpenGraph tags
	meta(property="og:title" content="Daniele Pelagatti - #{title}")
	meta(property="og:site_name" content="Daniele Pelagatti's Portfolio")
	meta(property="og:type" content="article")
	meta(property="og:description" content=description)
	//- CSS FILES
	//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css')
	//- link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')
	//- link(rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome")
	link(rel="stylesheet" href="#{base}css/main.min.css")


	//- prefetch , prerender and fli ahead support (IE11 Stuff) 
	- if(links) {
	-	var found = false
	- 	for( var i = 0; i< links.length;i++) {
	-		var val = links[i]
	-		if(val.link == link) {
	-			var next_link = null
	-			if(i < links.length-1) next_link = links[i+1]
	-			else next_link = links[i-1]
				link(rel="prefetch" href=getRelativeLink(next_link))
				link(rel="prerender" href=getRelativeLink(next_link))
	-			found = true;
	-			if(i > 0)
					link(rel="prev" href=getRelativeLink(links[i-1]))
	-			if(i < links.length-1)
					link(rel="next" href=getRelativeLink(links[i+1]))
	-			break
	-		}
	- 	}
	- 	if(!found && links.length > 0) {
			link(rel="prefetch" href=getRelativeLink(links[1]))
			link(rel="prerender" href=getRelativeLink(links[1]))
			link(rel="next" href=getRelativeLink(links[1]))
	-	}
	- }

	<!--[if lt IE 9]>
	SCRIPT(LANGUAGE="javascript").
		location.href="http://browsehappy.com/";
	<![endif]-->